/* .container {
    max-width: 1200px;
    margin: auto;
  }
  
  .user-info {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
  }
  
  .section {
    margin-bottom: 40px;
  }
  
  .card {
    overflow: hidden;
  }
  
  .card img {
    height: 150px;
    object-fit: cover;
  }
  
  .card-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    margin-bottom: 1rem;
  }
   */