<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Government Regulations</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div className="row ">
        <div className="col-md-3 ">
          <div className="card">
            <Link to="/detail/1">
              <img src="lc1.jpg" className="card-img-top" alt="..." />
            </Link>
            <div className="card-body">
              <h5 className="card-title">
                <Link to="detail/1">Course Title</Link>
              </h5>
              <p className="card-text">It is a Javascript course.</p>
              <Link to="detail/1" className="btn btn-primary">
                Details{" "}
              </Link>
            </div>
          </div>
        </div>
</body>
</html>




